In [73]:
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

In [74]:
from pathlib import Path
print(Path.cwd())

/Users/sabrinareed/Desktop/python_homework/python_homework/PyBank

In [75]:
filepath = Path("/Users/sabrinareed/Desktop/python_homework/python_homework/PyBank/pybank.csv")

In [76]:
pybank_data = pd.read_csv(filepath)
pybank_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [109]:
results = print("Financial Analysis")
print("------------------------")
print("Total Months: " + str(len(pybank_data)))
print("Total: $" + str(pybank_data["Profit/Losses"].sum()))
print("Average Change: $" + str(pybank_data["Profit/Losses"].mean()))
print("Greatest Increase in Profits: ")
print(pybank_data.nlargest(1 ,'Profit/Losses'))
print("Greatest Decrease in Profits: ")
print(pybank_data.nsmallest(1 ,'Profit/Losses'))

Financial Analysis
------------------------
Total Months: 86
Total: $38382578
Average Change: $446309.0465116279
Greatest Increase in Profits:
        Date  Profit/Losses
25  Feb-2012        1170593
Greatest Decrease in Profits:
        Date  Profit/Losses
44  Sep-2013       -1196225

In [110]:
filepath_output = Path("/Users/sabrinareed/Desktop/python_homework/python_homework/PyBank/main.txt")
with open(filepath_output, 'w') as file:
    file.write("Financial Analysis ------------------------ Total Months: 86 Total: $38382578 Average Change: $446309.0465116279 Greatest Increase in Profits:  Date  Profit/Losses 25  Feb-2012        1170593 Greatest Decrease in Profits:  Date  Profit/Losses 44  Sep-2013       -1196225 ")